<div class="page-width page-content">

    <div class="grid">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

            <header class="section-header">
                <h1 class="section-header__title">
                    {{ page.title }}
                </h1>
            </header>

            <div class="rte rte--nomargin">
                <div class="community-image-wrapper"></div>
                <div class="community-div">
                    <button>
                        <a href="https://discordapp.com/channels/@me/586653143539122177/766849931427708958" target="_blank">
                            Enter
                        </a>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
